:root {
    /* Global Variable */
    --Main_Fore_Color: #6930c3;
    --Main_Bg_Color: #252525;
    --Txt_Primary_Color: #ffffff;
    --Txt_Secondary_Color: #000000;
  }
  
  #Back2Top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--Main_Fore_Color);
    color: var(--Txt_Primary_Color);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #Back2Top:hover {
    background-color: #555;
  }
  hr {
    margin: auto;
    width: 20%;
    text-align: center;
  }
/* Design For Phone */
.TPL_NavBar {
    font-size: 18px;
    background: var(--Main_Fore_Color);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
  }
  
  .TPL_Main_NavBar {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .TPL_logo {
    text-decoration: none;
    color: var(--Txt_Primary_Color);
  }
  
  .TPL_Main_NavBar li {
    text-align: center;
    margin: 20px auto;
  }
  
  .TPL_logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .TPL_NavBar-toggle {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    color: var(--Txt_Primary_Color);
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }
  
  #chkToggle:checked + ul.TPL_Main_NavBar {
    display: block;
  }
  
  /* Design For Desktops */
  @media screen and (min-width: 768px) {
    .TPL_NavBar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
    }
  
    #chkToggle:checked + ul.TPL_Main_NavBar {
      display: flex;
    }
  
    .TPL_Main_NavBar {
      margin-bottom: 0px;
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .TPL_Main_NavBar li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .TPL_logo {
      margin-top: 0;
    }
  
    .TPL_NavBar-toggle {
      display: none;
    }
  
    .TPL_logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 0.733);
    }
  }
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    background-color: var(--Main_Bg_Color);
  }
  .home h2 {
    margin-bottom: 15px;
    color: var(--Txt_Primary_Color);
    font-size: 50px;
  }
  .home h3 {
    color: var(--Txt_Primary_Color);
    font-size: 22px;
  }
  .Hometxtwrapper {
    margin-bottom: 6%;
  }
  .Hometxtwrapper img{
    width: 150px;
    border-radius: 50%;
  }
  .ContactBtn {
    border-radius: 20px;
    border: var(--Main_Fore_Color) 2px solid;
    color: var(--Txt_Primary_Color);
    padding-left: 34px;
    padding-right: 34px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
  }
  
  .ContactBtn:hover {
    transition: 0.5s ease-in-out;
    background-color: var(--Main_Fore_Color);
    color: var(--Txt_Primary_Color);
  }
  
  .scrolldown i {
    font-size: 30px;
  }
  
  /* Responsive Design*/
  @media (max-width: 380px) {
    .home h2 {
      margin-bottom: 15px;
      color: var(--Txt_Primary_Color);
      font-size: 40px;
    }
    .home h3 {
      color: var(--Txt_Primary_Color);
      font-size: 18px;
    }
    .Hometxtwrapper {
      margin-bottom: 20%;
    }
  
    .ContactBtn {
      border-radius: 20px;
      border: var(--Main_Fore_Color) 2px solid;
      color: var(--Txt_Primary_Color);
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 13px;
      margin-top: 12px;
      cursor: pointer;
    }
  
    .ContactBtn:hover {
      transition: 0.5s ease-in-out;
      background-color: var(--Main_Fore_Color);
      color: var(--Txt_Primary_Color);
    }
  }
  .about {
    height: auto;
    background-color: var(--Main_Bg_Color);
  }
  .AbouttxtWrapper {
    display: flex; /* establish flex container */
    flex-direction: column; /* stack flex items vertically */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
  }
  .AbouttxtWrapper h1 {
    padding-top: 30px;
    font-size: 35px;
    color: var(--Txt_Primary_Color);
    text-align: center;
  }
  
  .AbouttxtWrapper p {
    color: var(--Txt_Primary_Color);
    width: 80%;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  .ResumeBTN {
    margin-bottom: 12px;
    margin-top: 30px;
    border-radius: 20px;
    border: var(--Main_Fore_Color) 2px solid;
    padding: 12px 34px;
    text-decoration: none;
    color: var(--Txt_Primary_Color);
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
  }
  
  .ResumeBTN:hover {
    color: var(--Txt_Primary_Color);
    transition: 0.5s ease-in-out;
    border: var(--Main_Fore_Color) 2px solid;
    background-color: var(--Main_Fore_Color);
  }
  
  .skills {
    text-align: center;
    padding: 15px;
    width: auto;
  }
  .skills h2 {
    font-size: 30px;
    color: var(--Txt_Primary_Color);
  }
  
  .skills ul {
    color: var(--Txt_Primary_Color);
    list-style-type: none;
    margin: 18px;
    padding: 0;
  }
  
  .skills ul li {
    border: 1px solid var(--Txt_Primary_Color);
    border-radius: 2px;
    display: inline-block;
    font-size: 15px;
    margin: 0 7px 7px 0;
    padding: 7px;
  }
  .Project {
    height: auto;
    /* background-color: var(--main_bg_color);*/
  }
  
  .ProjecttxtWrapper h1 {
    color: var(--Txt_Secondary_Color);
    padding-top: 30px;
    font-size: 35px;
    text-align: center;
  }
  .ProjecttxtWrapper h3 {
    color: var(--Txt_Secondary_Color);
  }
  .txtWrapper h3 {
    color: var(--Txt_Primary_Color);
  }
  .ProjecttxtWrapper {
    display: flex; /* establish flex container */
    flex-direction: column; /* stack flex items vertically */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
  }
  .wrapper {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card {
    max-width: 300px;
    min-height: 250px;
    background: var(--Main_Fore_Color);
    box-sizing: border-box;
    color: var(--Txt_Primary_Color);
    margin: 20px;
    box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
  }
  
  .img {
    width: 100%;
  }
  
  .txtWrapper {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 15px;
  }
  
  .card-title {
    margin-top: 0;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.2px;
  }
  
  .card-content {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.5;
  }
  
  .card-btn {
    all: unset;
    display: block;
    margin: auto;
    border: 2px solid var(--Txt_Primary_Color);
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 10px;
    font-weight: 600;
    transition: all 0.5s;
    cursor: pointer;
    letter-spacing: 1.2px;
  }
  .card-btn:hover {
    background-color: var(--Txt_Primary_Color);
    color: var(--Main_Fore_Color);
  }
  .contact {
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    background-color: var(--Main_Bg_Color);
  }
  .contacttxtWrapper {
    display: flex; /* establish flex container */
    flex-direction: column; /* stack flex items vertically */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
  }
  
  .ContacttxtWrapper h1 {
    color: var(--Txt_Primary_Color);
    padding-top: 15px;
    font-size: 30px;
    text-align: center;
  }
  
  footer {
    bottom: 0;
  }
  .w3hubs-footer {
    width: 100%;
    height: auto;
    margin: auto;
    background: var(--Main_Bg_Color);
    padding: 20px 0px;
  }
  .w3hubs-icon {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .w3hubs-icon ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  
  .w3hubs-icon ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: var(--Main_Fore_Color);
  }
  .w3hubs-icon ul li:hover {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
    border: var(--Main_Fore_Color) solid 1px;
    background: transparent;
  }
  .w3hubs-icon ul li a {
    text-decoration: none;
    color: var(--Main_Bg_Color);
    font-size: 25px;
    display: block;
  }
  
  .w3hubs-icon ul li a i {
    color: var(--Txt_Primary_Color);
    line-height: 50px;
  }
  
  .footer-end {
    width: 100%;
    height: auto;
    margin: auto;
    background: var(--Main_Bg_Color);
    padding: 10px;
    font-size: 16px;
    text-align: center;
  }
  .footer-end p {
    font-size: 16px;
    text-align: center;
    color: var(--Txt_Primary_Color);
    font-weight: bold;
    letter-spacing: 2px;
  }
  .footer-end a {
    text-decoration: none;
    color: var(--Txt_Primary_Color);
  }
  .footer-end a:hover {
    color: var(--Main_Fore_Color);
  }
  
  @media (max-width: 380px) {
    .w3hubs-icon ul li a i {
      line-height: 38px;
    }
    .w3hubs-icon ul li a {
      font-size: 20px;
    }
    .w3hubs-icon ul li {
      width: 40px;
      height: 40px;
    }
  }
          